/* Add CSS Styling */
.odd {
  background-color: rgb(245, 117, 117);
  font-family: Verdana, 'DejaVu Sans', sans-serif;
}

.font-size-lg {
  font-size: 24px;
}

#number-two {
  color: blue;
  font-size: 36px;
}

#number-four {
  background-color: rgb(1, 214, 1);
  font-weight: bold;
}